

<div class="container pb-5">

    <%- include('../partials/error-messages.ejs') %>

    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
            <div class="alert alert-warning my-3 mb-4">
                <p>To <strong>Sign In</strong> please use <strong>Email: iamqamarali1@gmail.com</strong>
                     and <strong>Password: password</strong>
                </p>
            </div>

            <h2 class="text-center mb-4">Welcome Back</h2>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eum nesciunt minima quos dignissimos repellendus.</p>
            <div class="card p-3">
                <div class="card-body">
                    <h3 class="text-center mb-4">Login</h3>

                    <form action="/login" method="POST">
                        <div class="mb-3">
                            <label for="" class=" form-label">Email</label>
                            <input type="text" name="email" class="form-control" value="<%= old.email %>" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <label for="" class=" form-label">Password</label>
                            <input type="password" name="password" value="<%= old.password %>" class="form-control" placeholder="Password">
                        </div>                        

                        <div class="mb-3">
                            <button type="submit" class="btn btn-dark w-100">Login</button>  
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>