

<div class="container-fluid">
    <h3>Analytics Overview</h3>


    <div class="row stats my-5">
        <div class="col-3">
            <div class="card bg-light-pink py-4">
                <div class="card-body text-center">
                    <p class="mb-0 display-5">213.2k</p>
                    <p class="my-2"><b>Website Visits</b></p>
                    <p class="my-2 text-dark">10% increase from last week</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-light-green  py-4">
                <div class="card-body text-center">
                    <p class="mb-0 display-5">213.2k</p>
                    <p class="my-2"><b>Website Visits</b></p>
                    <p class="my-2 text-dark">10% increase from last week</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-light-blue  py-4">
                <div class="card-body text-center">
                    <p class="mb-0 display-5">213.2k</p>
                    <p class="my-2"><b>Website Visits</b></p>
                    <p class="my-2 text-dark">10% increase from last week</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-light-gray  py-4">
                <div class="card-body text-center">
                    <p class="mb-0 display-5">213.2k</p>
                    <p class="my-2"><b>Website Visits</b></p>
                    <p class="my-2 text-dark">10% increase from last week</p>
                </div>
            </div>
        </div>
    </div>


    <button class="btn btn-primary rounded-5">Click Me</button>

</div>