.admin-template-body{
    .app-content{
        padding-left: var(--sidebar-width);
        margin: 0 50px 20px 50px;

        .main-content{
            margin-top: calc(1.5rem + 1vw);
        }
    }
}

@media (max-width: 991px) {
    .admin-template-body{

        .app-content{
            margin: 0 15px 20px 0;
        }

    }
}


    