<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/admin.min.css">

</head>
<body class="admin-template-body">

    <div class="template-wrapper">
        <%- include('../admin/partials/sidebar') %>

        <div class="app-content">
            <%- include('../admin/partials/header') %>
            <main class="main-content">
                <%- body %>
            </main>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/0419fb55d7.js" crossorigin="anonymous"></script>
    <script src="/js/app.min.js"></script>

</body>
</html>