header.navbar{
    margin-top: 25px;
    padding: 15px;

    .navbar-brand{
        font-size: 1.4rem;   
    }

    .container-fluid{
        padding: 0
    }
    .nav-link{
        font-size: .9rem;
        font-weight: 500;
    }


}