.sidebar{
    position: fixed;
    inset: 0 auto 0 0;
    width: var(--sidebar-width);

    padding: 10px 10px;
}
.sidebar-inner{
    height: 100%;
    background-color: var(--sidebar-bg);
    border-radius: var(--sidebar-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .nav-item,
    .nav-link{
        display: block;
        padding: 0;
    }
    .nav{
        display: block;
        padding: 25px 0;
    }
    .nav-link{
        text-align: center;
        color: var(--sidebar-text-color);
        font-size: .1.05rem;
        padding: 16px 0 ;

        &:hover{
            color: var(--sidebar-text-hover-color)
        }
    }
}
