.posts-grid--masonry{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;

    .item-1{
        grid-column: span 2;
    }
    .item-4{
        grid-column: span 2;
    }
    .item-5{
        grid-column-start : 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

} 


// media query for bootstrap medium
@media (max-width: 991px) {
    .posts-grid--masonry{
        display: block;
        .item{
            margin-bottom: 1rem;
        }
    }
}