
// background colors
.bg-light-pink{
    background-color: var(--light-pink);
}
.bg-light-green{
    background-color: var(--light-green);
}
.bg-light-blue{
    background-color: var(--light-blue);
}
.bg-light-gray{
    background-color: var(--light-gray);
}


// text colors

.text-dark-50{
    color: var(--dark-50);
}