<nav class="sidebar">
    <div class="sidebar-inner">
        <ul class="nav nav-top">
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="fa-solid fa-magnifying-glass-dollar"></i>
                </a>
            </li>   
            <li class="nav-item">
                <a href="/dashboard/users" class="nav-link"><i class="fa-solid fa-user"></i></a>
            </li>
            <li class="nav-item">
                <a href="/dashboard/posts" class="nav-link"><i class="fa-solid fa-book"></i></a>
            </li>   
            <li class="nav-item">
                <a href="" class="nav-link"><i class="fa-solid fa-comment"></i></a>
            </li>   
            <li class="nav-item">
                <a href="" class="nav-link"><i class="fa-solid fa-heart"></i></a>
            </li>   
            <li class="nav-item">
                <a href="" class="nav-link"><i class="fa-solid fa-bell"></i></a>
            </li>   
            <li class="nav-item">
                <a href="" class="nav-link"><i class=" fa-solid fa-sliders"></i></a>
            </li>   

            
        </ul>
        {{!-- <ul class="nav nav-bottom">
            <li class="nav-item">
                <a href="" class="nav-link">fuck 1</a>
            </li>   
        </ul> --}}
    </div>
</nav>